html
  box-sizing border-box
  *
    box-sizing inherit

body
  background #09f
  // background #09f999
  font-family 'Open Sans', sans-serif
  font-style normal
  font-weight 300
  margin 0
  padding 0

.flex
  align-items center
  display flex
  justify-content center
  height 100vh
